<div class="banner d-flex justify-content-center align-items-center justify-content-evenly">
  <% user_photos = User.first.photos %>
  <%= cl_image_tag user_photos[0].url, class: "banner-image imagen-1" %>
  <%= cl_image_tag user_photos[1].url, class: "banner-image logo-image" %>
  <%= cl_image_tag user_photos[2].url, class: "banner-image imagen-2" %>
</div>



<div class="product-initial">
  <h3 class="title" >Productos Destacados</h3>
  <div class="featured">
    <% @initial.each do |product| %>
      <div class="card" data-categories="<%= product.category.category_type %>">
        <a href="<%= product_path(product) %>">
          <% if product.photos.any? %>
            <%= cl_image_tag product.photos.first.url, class: "card-img-top product-image" %>
          <% else %>
            <%= image_tag "logo_negro.png", class: "card-img-top product-image" %>
          <% end %>
        </a>
        <div class="card-body">
          <h6 class="card-text"><strong><%= product.name %></strong></h6>
          <div class="price"><%= number_to_currency(product.price, unit: '$', format: '%u%n') %></div>
        </div>
      </div>
    <% end %>
  </div>
    <div class="small">
    <% @first_two_products.each do |product| %>
      <div class="card" data-categories="<%= product.category.category_type %>">
        <a href="<%= product_path(product) %>">
          <% if product.photos.any? %>
            <%= cl_image_tag product.photos.first.url, class: "card-img-top product-image" %>
          <% else %>
            <%= image_tag "logo_negro.png", class: "card-img-top product-image" %>
          <% end %>
        </a>
        <div class="card-body">
          <h6 class="card-text"><strong><%= product.name %></strong></h6>
          <div class="price"><%= number_to_currency(product.price, unit: '$', format: '%u%n') %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="questions p-5">
  <h1 class="question py-3">Preguntas Frecuentes</h1>
  <h1 class="valor py-4">¿QUÉ VALOR TIENE EL ENVÍO?</h1>
  <p>el precio del envío depende de la ciudad el número de prendas. manejamos contraentrega (Servientrega, interrapidisimo y envía).</p>
  <br>
  <h1 class="valor py-4">¿CUÁNTO TIEMPO TARDA EN LLEGAR MI PEDIDO?</h1>
  <p class="delivery">Los pedidos tardan en llegar entre 3 y 8 días fuera de Cúcuta.</p>

  <!-- Barra separadora -->
  <div class="separator"></div>

  <!-- Contenedor de los enlaces centrados -->
  <div class="links-container">
    <a href="https://www.instagram.com/tyd_jeans/" target="_blank" class="instagram-link">
      <i class="fab fa-instagram"></i>
      <p class="siguenos">@tyd_jeans</p>
    </a>
    <a href="https://api.whatsapp.com/send?phone=573155127061&text=<%= CGI.escape("Hola, somos TYD. ¿En qué podemos asesorarte?") %>" target="_blank" class="instagram-link">
      <i class="fa-brands fa-whatsapp"></i>
      <p class="siguenos">+57 315 512 7016 | Ventas</p>
    </a>
    <a href="https://api.whatsapp.com/send?phone=573004233454&text=<%= CGI.escape("Hola, somos TYD. ¿En qué podemos asesorarte?") %>" target="_blank" class="instagram-link">
      <i class="fa-brands fa-whatsapp"></i>
      <p class="siguenos">+57 300 423 3454 | Gerencia</p>
    </a>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "instagram-link" do %>
        <i class="fa-regular fa-user"></i>
        <p class="siguenos">Cerrar sesion</p>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "instagram-link" do %>
        <i class="fa-regular fa-user"></i>
        <p class="siguenos">Eres propietario?</p>
      <% end %>
    <% end %>
  </div>
</div>
