<div class="banner d-flex justify-content-center align-items-center justify-content-evenly">
  <% user_photos = User.first.photos %>
  <%= cl_image_tag user_photos[0].url, class: "banner-image imagen-1" %>
  <%= cl_image_tag user_photos[1].url, class: "banner-image logo-image" %>
  <%= cl_image_tag user_photos[2].url, class: "banner-image imagen-2" %>
</div>

<div class="information-home">
  <div class="row">
    <div class="information-content m-2 col-lg-10 col-12">
      <h3 class="title">¿Quiénes somos?</h3>
      <p>Somos una empresa ubicada en Cúcuta, especializada en la venta al por mayor y al detal de pantalones para damas y caballeros, así como chalecos exclusivos para mujeres. Nuestra pasión por la moda y la atención a los detalles nos impulsan a ofrecer productos de alta calidad que reflejen tu estilo único y te hagan sentir confiado en cada ocasión. Desde jeans versátiles hasta shorts y bermudas de moda, nuestra amplia gama de opciones te permite expresar tu personalidad a través de tu vestimenta.</p>
    </div>
    <div class="col-lg-2 col-12 d-none d-md-block">
      <%= cl_image_tag User.first.photos[3].url, class: "banner-image imagen-2 side-image" %>
    </div>
  </div>
</div>

<div class="product-initial p-5">
  <h3 class="m-2" >Productos Destacados</h3>
  <div class="d-flex flex-wrap justify-content-evenly">
    <% @initial.each do |product| %>
      <div class="card" style="width: 18rem;" data-categories="<%= product.category.category_type %>">
        <a href="<%= product_path(product) %>">
          <% if product.photos.any? %>
            <%= cl_image_tag product.photos.first.url, class: "card-img-top product-image" %>
          <% else %>
            <%= image_tag "logo_negro.png", class: "card-img-top product-image" %>
          <% end %>
        </a>
        <div class="card-body">
          <h6 class="card-text"><strong><%= product.name %></strong></h6>
          <div class="price"><%= number_to_currency(product.price, unit: '$', format: '%u%n') %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="questions p-5">
  <h1 class="question py-3">Preguntas Frecuentes</h1>
  <h1 class="valor py-4">¿QUÉ VALOR TIENE EL ENVÍO?</h1>
  <p>el precio del envío depende de la ciudad el número de prendas. manejamos contraentrega (Servientrega, interrapidisimo y envía).</p>
  <br>
  <h1 class="valor py-4">¿CUÁNTO TIEMPO TARDA EN LLEGAR MI PEDIDO?</h1>
  <p class="delivery">Los pedidos tardan en llegar entre 3 y 8 días fuera de Cúcuta.</p>

  <!-- Barra separadora -->
  <div class="separator"></div>

  <!-- Contenedor de los enlaces centrados -->
  <div class="links-container">
    <a href="https://www.instagram.com/tyd_jeans/" target="_blank" class="instagram-link">
      <i class="fab fa-instagram"></i>
      <p class="siguenos">Síguenos en Instagram</p>
    </a>
    <a href="https://api.whatsapp.com/send?phone=573155217016&text=<%= CGI.escape("¡Hola! Estoy interesado en el producto:.
Puedes brindarme más información?") %>" target="_blank" class="instagram-link">
      <i class="fa-brands fa-whatsapp"></i>
      <p class="siguenos">+57 315 512 7016 | Ventas</p>
    </a>
    <a href="https://api.whatsapp.com/send?phone=573004233454&text=<%= CGI.escape("¡Hola! Estoy interesado en el producto:.
Puedes brindarme más información?") %>" target="_blank" class="instagram-link">
      <i class="fa-brands fa-whatsapp"></i>
      <p class="siguenos">+57 300 423 3454 | Gerencia</p>
    </a>
  </div>
</div>
