<% if user_signed_in? %>
  <div class="container shadow mt-3 p-3 w-50">
    <% if product.new_record? %>
      <h5 class="text-center">Nuevo Producto</h5>
    <% else %>
      <h5 class="text-center">Editar Producto</h5>
    <% end %>
    <%= simple_form_for product, html: { multipart: true, id: "product_form" } do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :ref %>
      <%= f.input :availability, collection: ['Disponible', 'No disponible'] %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <!-- Agregar la entrada para seleccionar el género -->
      <div class="form-group">
        <label>Género</label><br>
        <%= f.collection_radio_buttons :gender_id, Gender.all, :id, :name %>
      </div>

      <!-- Agregar la entrada para seleccionar la categoría para caballero -->
      <div class="form-group category-fields gentleman"> <!-- Para categorías de Caballero -->
        <label>Categoría para Caballero</label><br>
        <%= f.collection_select :category_id, Category.where(gender_id: Gender.find_by(name: 'Caballero').id), :id, :category_type %>
      </div>

      <div class="form-group">
        <label>Colores</label>
        <div class="btn-group-toggle" data-toggle="buttons">
          <% @colors.each do |color| %>
            <% text_color = ["Negro", "Azul marino", "Verde Oliva"].include?(color.name) ? "white" : "black" %>
            <label class="btn btn-outline-primary m-2" style="background-color: <%= color.hex_code %>; color: <%= text_color %>">
              <%= f.check_box :color_ids, { multiple: true }, color.id, nil %>
              <%= color.name %>
            </label>
          <% end %>
        </div>
      </div>
      <br>
      <label>Tallas</label>
      <div class="form-group d-flex flex-wrap">
        <%= f.collection_check_boxes :size_ids, Size.all, :id, :measure do |b| %>
          <div class="form-check mb-2 mr-2">
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>


      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <%= f.submit product.new_record? ? "Crear" : "Actualizar", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1 class="text-center">Solo los propietarios pueden crear nuevos productos.</h1>
<% end %>
