<div class="ruta m-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Inicio", root_path, class: "text-decoration-none text-black" %></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
  </nav>
</div>

<div class="categories-bar justify-content-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categorías
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
      <% @categories.each do |category| %>
        <% if category.products.where(availability: 'Disponible').exists? %>
          <% words = category.category_type.split(' ') %>
          <% truncated_category = words[0..-2].join(' ') %>
          <li class="dropdown-item" onclick="categoryFilter('<%= category.category_type %>')"><%= truncated_category %></li>
        <% end %>
      <% end %>
      <li><hr class="dropdown-divider"></li>
      <li class="dropdown-item" onclick="categoryFilter('all')">Todos los Productos</li>
      <% if user_signed_in? %>
        <%= link_to new_product_path, class: "btn btn-link p-0" do %>
          <li class="dropdown-item">Nuevo producto</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>



<div class="products">
  <% @products.each do |product| %>
    <% if user_signed_in? || product.availability == "Disponible" %>
      <div class="card" data-categories="<%= product.category.category_type %>">
        <a href="<%= product_path(product) %>">
          <% if product.photos.any? %>
            <%= cl_image_tag product.photos.first.url, class: "card-img-top product-image" %>
          <% else %>
            <%= image_tag "logo_negro.png", class: "card-img-top product-image" %>
          <% end %>
        </a>
        <div class="card-body" style="<%= product.availability == 'No disponible' ? 'background-color: rgb(255, 0, 0);' : '' %>" >
          <h6 class="card-text name"><strong><%= product.name %></strong></h6>
          <% if product.availability == "No disponible" %>
            <h6 class="card-text"><%= product.availability %></h6>
          <% end %>
          <div class="price"><%= number_to_currency(product.price, unit: '$', format: '%u%n') %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  function categoryFilter(filter) {
    let categoryCards = document.getElementsByClassName('card');
    for (let i = 0; i < categoryCards.length; i++) {
      let categoryCard = categoryCards[i];
      let categoryType = categoryCard.getAttribute('data-categories');
      if (categoryType === filter || filter === 'all') {
        categoryCard.style.display = 'block';
      } else {
        categoryCard.style.display = 'none';
      }
    }
  }
</script>
