<div class="ruta m-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Inicio", root_path, class: "text-decoration-none text-black" %></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
  </nav>
</div>

<div class="categories-bar justify-content-center">
  <ul class="d-flex filter-list list-unstyled flex-wrap justify-content-center">
    <% @categories.each do |category| %>
      <li class="filter m-1" onclick="categoryFilter('<%= category.category_type %>')"><%= category.category_type %></li>
    <% end %>
    <li class="filter m-1" onclick="categoryFilter('all')">Todos los Productos</li>
  </ul>
</div>

<div class="products d-flex flex-wrap justify-content-center">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;" data-categories="<%= product.category.category_type %>">
      <a href="<%= product_path(product) %>">
        <% if product.photos.any? %>
          <%= cl_image_tag product.photos.first.url, class: "card-img-top product-image" %>
        <% else %>
          <%= image_tag "logo_negro.png", class: "card-img-top product-image" %>
        <% end %>
      </a>
      <div class="card-body">
        <h6 class="card-text"><strong><%= product.name %></strong></h6>
        <div class="price"><%= number_to_currency(product.price, unit: '$', format: '%u%n') %></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function categoryFilter(filter) {
    let categoryCards = document.getElementsByClassName('card');
    for (let i = 0; i < categoryCards.length; i++) {
      let categoryCard = categoryCards[i];
      let categoryType = categoryCard.getAttribute('data-categories');
      if (categoryType === filter || filter === 'all') {
        categoryCard.style.display = 'block';
      } else {
        categoryCard.style.display = 'none';
      }
    }
  }
</script>
